@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');

body{
  font-family: helvetica;
    margin: 0;
    background-color: #C68ABE;
    
}
header {
    padding: 40px;
    text-align: center;

}
h1{
    color: #781072;
    font-size: 3em;
}
main{
   padding: 36px; 
}